<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608227876008-g8imcec1g8b0k7028c6vkvhc619if0fd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608227876008-g8imcec1g8b0k7028c6vkvhc619if0fd</string>
	<key>API_KEY</key>
	<string>AIzaSyCRb80dBReZXtJNGE6n8pnwfhvaC8u6EmE</string>
	<key>GCM_SENDER_ID</key>
	<string>608227876008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tickleTackleTockle.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tickletockletackle</string>
	<key>STORAGE_BUCKET</key>
	<string>tickletockletackle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608227876008:ios:626cbad258eaef7d88369d</string>
</dict>
</plist>